{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol.css" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>

  <main>
    <section>
      <p>VectorTile Demo with Django</p>
      <div id="map">

      </div>
    </section>
  </main>

  <footer>
    <p> <a href="https://kaflekrishna.com.np/">Krishna Kafle;</a> 2022. All rights reserved. </p>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="{% static 'js/layers.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
